.master-container{
  height: 100%;
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
  flex-direction: column;
}


aside{
  width: 40%;
  max-width: 600px;
  display: flex;
  align-items: center;
  padding: 2em;
  overflow: auto;
  /* background-image: url('/images//coolbg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
}




.aside-main-wrapper{
  height: 100svh;
  align-items: stretch;
}
.main-and-footer-container{
  height: 100%;
   -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
    scroll-behavior: smooth; 
    border: 5px solid transparent;
}

ul{
  list-style: none;
}

/*did this because i used h2 for my section headings i want that little space*/
h2{
  margin: 1em 0; 
}


.profile-pic-container{
  border: 1px solid var(--black);
  box-shadow: 3px 3px 5px var(--grey);
  width: 150px;  /* min 100px, scales with 20vw, max 200px */
  height: 150px; 
  aspect-ratio: 1/1;
  margin: 1em;
  border-radius: 50%;
  overflow: hidden;
}

.hire-me-btn{
  border-radius: .5rem;
  padding: .7em;
  transform: all 350ms ease;
}
/* this didnt work  */
.hire-me-btn:hover{
  transform: translateY(-5px);
}
/* but this did i know css is weird */
a{
  transition: all 250ms ease;
}


.intro-btn-container{
  padding: 1em;
  justify-content: end;
}


/* ==================== PROJECT SECTION ===========*/
.project-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-items: center;
  align-items: center;
  gap: 1em;
  padding: 2.5em .5;
}


.project-card{
  width: 100%;
  max-width: 330px;
  background-color: var(--white);
  border: .5px solid var(--grey);
  padding: .5em .8em;
  /* height: fit-content; */
  border-radius: .5rem;
  transition: all 300ms ease;
}
.project-card:hover{
  transform: translateY(-10px);
  box-shadow: 1px 1px 3px var(--grey);
}

.project-card figure{
  height: 230px;
  background-color: var(--blue);
  border: 1px solid var(--grey);
  cursor: pointer;
}

.project-description{
  font-size: .9rem;
}

.project-card figure{
  border-radius: .4rem;
  margin-bottom: .5em;
}

.project-tools-list{
  display: flex;
  flex-wrap: wrap;
  margin: .5em 0;
}
.project-tools-list li{
  font-size: .8rem;
  margin: .25em;
  padding: .25em .4em;
  border-radius: 2rem;
  background-color: var(--blue);
  color: var(--blue-dark);

}

.view-project-btn-container{
  padding: .3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.view-project-btn-container a{
  padding: .5em .9em;
  border-radius: .5rem;
  font-size: .8em;
}
.view-project-btn-container button{
    padding: .5em .9em;
  border-radius: .5rem;
  font-size: .8em;
}


/* =========== EXPERIENCE CSS ============= */
.experience-list{
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}

.experience-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25em ;
  flex-wrap: wrap;
  word-break: break-all;
}

.company-name{
  background-color: var(--black);
  font-weight: 300;
  color: var(--white);
  /* padding: .5em; */
  border-radius: .5rem;
}

/* ==============TOOLS ========= */
.tools-section{
  background-image: url('/asset/black-abstract-background.jpg');
  background-position: center;
  background-size: cover;
}
.tools-section button{
  box-shadow: none;
}

/* ==========CONTACT ME SCRIPTS======== */

textarea, input::placeholder{
  font-weight: 600;
  font-family: var(--font-ui-alt);
}

#contact-me-form{
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  margin-top: 2em;
  display: flex;
  gap: 1em;
}

#contact-me-form input, textarea{
  width: 100%;
  margin-inline: .5em;
  padding: 1em 1.5em;
  border-radius: .5rem;
  border: 1px solid var(--grey);
}

/* message text area */
#message{
  resize: none;
  height: 150px;
}

.contact-me-btn{
  background-image: url('/asset/black-abstract-background.jpg');
  background-position: center;
  background-size: cover;
}




/* media queries */
@media(max-width: 1100px){
  .aside-main-wrapper{
    flex-direction: column;
    overflow: auto;
    width: 100%;
    border: 2px solid ;
    height: auto;
  }

  aside{
    width: 100%;
    max-width: 100%;
    height: 100svh;
    padding-top: 0;
    padding-bottom: 0;
  }
  aside >*{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    min-height: 600px;  
    padding-top: 4em;
  }
  h2{
    text-align: center;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
 aside{
  height: auto;
 }
}